<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'Css/Style_menu.css' %}">
    <link rel="stylesheet" href="{% static 'Css/style.css' %}">

</head>
<body>
    <div class="center">
    <h1>Bienvenido cliente, Gracias por preferir ServiExpress.</h1>
    
        <div class="signup_link">
            <a href="{% url 'listar_reserva' %}">
                Mis Reservas
            </a>
        </div>

        <div class="signup_link">
            <a href="{% url 'reserva' %}">
                Registrar Reserva
            </a>
        </div>
        
        
        <div class="signup_link">
            <a href="{% url 'logout' %}" >Cerrar sesion</a>
            </a>
        </div>
        
    </div>











    
</body>
</html>