<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Reserva Hora</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'Css/Style_menu.css' %}">
    <link rel="stylesheet" href="{% static 'Css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Css/reserva.css' %}">
</head>
<body class="reservas-body">
    
<div class="centro">
    <h1>Tus Reservas</h1>
</div>
    {% if reservas %}
        <table class="reservas-table">
            <thead>
                <tr>
                    <th>Hora de reserva</th>
                    <th>Fecha de reserva</th>
                    <th>Servicio registrado</th>
                    <th>Modificar reserva</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                    <tr>
                        <td>{{ reserva.hora }}</td>
                        <td>{{ reserva.fecha|date:"d/m/Y" }}</td>
                        <td>{{ reserva.servicio }}</td>
                        <td>
                            <a href="{% url 'modificar_reserva' id=reserva.id %}" class="modificar-reserva-link">Modificar reserva</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay reservas registradas.</p>
    {% endif %}

</body>
</html>
