<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="{% url 'login_cliente' %}" method="POST">
        {% csrf_token %}
        <div class="container">
            <h1>Login</h1>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <hr>
            <p>Por favor ingrese su usuario para poder acceder a la plataforma</p>
            <hr>

            <label for="username"><b>Correo Electronico</b></label>
            <input type="text" placeholder="Ingrese su correo" name="username" id="username" required>

            <label for="password"><b>Contraseña</b></label>
            <input type="password" placeholder="Ingrese su contraseña" name="password" id="password" required>
            
            <button type="submit" class="registro" >Iniciar sesión</button>
        </div>
    </form>
</body>
</html>