<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
    <link rel="stylesheet" href="static/Css/Style_menu.css">
    <link rel="stylesheet" href="static/Css/style.css">

    -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'Css/Style_menu.css' %}">
    <link rel="stylesheet" href="{% static 'Css/style.css' %}">
    
</head>
<body>

    <form action="{% url 'registrar' %}" method="POST">
        {% csrf_token %}
        <div class="center">
            <h1>Registro de Cliente</h1>

            <div class="txt_field">
                <input type="text" placeholder="Ingrese su correo electronico" name="username" id="username" required>
            </div>
            
            <div class="txt_field">
                <input type="password" placeholder="Ingrese su contraseña" name="password" id="password" required>
            </div>

            <div class="txt_field">
                <input type="text" placeholder="Ingrese su rut" name="rut" id="rut" required>
            </div>


            <div class="txt_field">
            <input type="text" placeholder="Ingrese su nombre" name="nombre" id="nombre" required>
            </div>

            <div class="txt_field">
            <input type="text" placeholder="Ingrese su apellido" name="apellido" id="apellido" required>
            </div>

            <div class="txt_field">
            <input type="text" placeholder="Ingrese su telefono" name="telefono" id="telefono" required>
            </div>
   
            
            <input type="submit" value="Registrarse">
            <div class="signup_link">


        </div>
    </form>
    
</body>
</html>