<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'Css/Style_menu.css' %}">
    <link rel="stylesheet" href="{% static 'Css/style.css' %}">

</head>
<body>

    <form action="{% url 'reserva' %}" method="POST">
        {% csrf_token %}
        <div class="center">
        
            <div>
            <h1>Reserva Hora</h1>
            <p>Por favor rellene el formulario para reservar exitosamente</p>
          </div>

          
          <div>
            <label for="hora"><b>Hora : </b></label>
            <input type="time" placeholder="Ingrese la hora" name="hora" id="hora" required>
          </div>

          <div>
            <label for="fecha"><b>Fecha</b></label>
            <input type="date" placeholder="Ingrese la fecha" name="fecha" id="fecha" required>
          </div>



          <div class="footer-top-box">
            <label for="servicio"><b>Servicio</b></label>
            <input type="text" placeholder="Ingrese el servicio" name="servicio" id="servicio" required>
        </div>


        <input type="submit" value="Confirmar">
        <div class="signup_link">
        </div>
    </form>

</body>
</html>